

.menu-bg {
    background-image: url('../../../assets/background.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .menu-card {
        background-image: url('../../../assets/menu-card-bg.jpg');
        background-size: cover;
        background-position: center;
        background-blend-mode: overlay;
    }
}